.officelite-img{
	text-align: center;
}



.delete_img{
	display: none;
}



.illustration-img{
	width: 171px; 
	max-width: 400px;
	margin-left: auto ;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 64px;

}
.illustration-img img{
	width: 100%;	
}

.text{
	text-align: center;
	margin-bottom: 100px;
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (min-width:750px) {
	.officelite-img{
		text-align:start;
		margin-bottom: 104px;
	}
	.info{
		display: flex;
		justify-content: center;
	}
	.illustration-img{
		width: auto; 
		order: 2;
		flex: none;
	}
	
	
}