.SignUpContainer{
	width: 100%;
	height: 100%;
	max-width: 1140px;
	margin: 0 auto;
	
}
.SignUpContainer main{
	width: 95%;
	margin: 0 auto;	
}
.SignUpContainer .bg-pattern{
	position: absolute;
	top: 950px;
	width: 100%;
	height: 330px;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.bg-pattern-img{
    margin-right: 586px;
    margin-top: 27px;
	width: 100%;
}
.SignUpContainer .TimerContainer{
	margin: 0px   auto;

}


@media only screen and (min-width:1050px) {
	.SignUpContainer{
		position: static;
	}
	.SignUpContainer .bg-pattern{
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		height: 100%;
		z-index: -1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.SignUpContainer main{
		padding-bottom: 0;
		
	}
	.SignUpContainer .TimerContainer{
		margin: 0px ;
	
	}
	.SignUpContainer .text{
		margin-left: 0;
		margin-bottom: 0;
	}
	.bg-pattern-img{
		margin-bottom: 500px;
		transform: rotate(180deg);
		margin-right: 0;
    	margin-top: 0;
	}
	.officelite-img {
		margin-bottom: 50px;
	}

	

	
	
	
}